PORT=5001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=gigflow_payments
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
GIG_SERVICE_URL=http://localhost:8082
NOTIFICATION_SERVICE_URL=http://localhost:8083
